@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* modelo reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul,
ol,
li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

/* fim modelo reset */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  grid-template-areas:
    "a a"
    "b c"
    "d d";
  min-height: 100vh;
  max-width: 90%;
  margin: auto;
  gap: 2vh;
}

.header {
  grid-area: a;
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vh 2vh 5vh;
  width: 100%;
}

#logo {
  align-self: flex-start;
  height: 80%;
}

#hamburger {
  /* hamb */
  display: none;
}

#hamburgerclose {
  /* hamb close */
  display: none;
}

#navegation {
  /* this is the desktop navigation menu horizontal */
  margin: auto 0 auto 0;
}

#navegation ul {
  display: flex;
  gap: 5vh;
}

nav ul li a {
  color: #000;
}

nav ul li a:hover {
  animation: changecolorfont 1s;
  color: #F15E50;
}

@keyframes changecolorfont {
  from {
    color: #000;
  }

  to {
    color: #F15E50;
  }
}

/* efeito done*/


.mainnew {
  /* this is all side new with the main picture */
  grid-area: b;
  min-height: 80vh;
  display: flex;
  /* importante ocupa o resto do tamanho o pai precisa ser flex */
  flex-direction: column;
}

.mainimage {
  /* main image */
  width: 100%;
  aspect-ratio: 1460/600;
  background-image: url('../src/assets/images/image-web-3-desktop.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.maintopic {
  /* section above main image */
  display: flex;
  max-width: 100%;
  gap: 5%;
  flex-grow: 1;
  /* importante!!! ocupa o resto do tamanho o pai precisa ser flex */
}

.maintopic .topic {
  min-width: 45%;
  height: 100%;
  margin: auto;
  display: flex;
  padding: 2vh;
}

.topic h1 {
  text-align: center;
  margin: auto;
  font-size: 4vw;
}

.introduction {
  min-width: 50%;
  height: 80%;
  /* xuxa de cem para oitenta */
  margin: auto;
  padding: 2vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.introduction a {
  width: 30vh;
  height: 8vh;
  background-color: #F15E50;
  text-align: center;
  line-height: 8vh;
  letter-spacing: 2px;
  font-weight: 700;
  color: #FFF;
}

.introduction a:hover {
  animation: changebackground 1.5s;
  background-color: #000;
}

@keyframes changebackground {
  from {
    background-color: #F15E50;
  }
  to {
    background-color: #000;
  }
}

/* efeito done */

.sidetopics {
  /* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */
  grid-area: c;
  background-color: #00001A;
  min-height: 60vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #FFF;
}

.item1,
.item2 {
  border-bottom: 1px solid #FFF;
  padding-bottom: 3vh;
}

.item3 {
  padding-bottom: 3vh;
}

.sidetopics h2 {
  color: #E9AB53;
}

.sidetopics article a {
  font-size: 1.4vw;
  color: #FFF;
  font-weight: 800;
}

.sidetopics article a:hover {
  color: #E9AB53;
  font-size: 1.6vw;
  animation: changefontcolora 1.5s;
}

@keyframes changefontcolora {
  from {
    font-size: 1.4vw;
    color: #FFF;
  }

  to {
    font-size: 1.6vw;
    color: #E9AB53;
  }
}

/* efeito done*/
.sidetopics article.items p {
  margin-top: 3px;
  font-size: 1.2vw;
  font-weight: 400;
}
/* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */

/* DDDDDDDDDDDDDDDDDDDDDDDDDD */
.bottom {
  grid-area: d;
  display: flex;
  justify-content: space-between;
}

.bottom article {
  max-width: 33.33%;
}

article.news {
  display: flex;
}

article.news img {
  max-width: 18vh;
}

.text {
  padding: 0 3vh 0 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text h3 {
  font-size: 2.5vw;
  font-weight: 900;
  color: #C5C6CE;
}

.text a {
  font-size: 1.5vw;
  font-weight: 800;
  color: #000;
}

.text a:hover {
  color: #F15E50;
  animation: changefontcolor 1.5s;
}
@keyframes changefontcolor {
  from{
    color: #000;
  }to{
    color: #F15E50;
  }
}

/* efeito done */
/* DDDDDDDDDDDDDDDDDDDDDDDDDD */

#navegationb {
  display: none;
}

@media (max-width: 893px) {
  .container {
    display: grid;
    grid-template-columns: 1fr; /* aki */
    grid-template-areas:
      "a" /* aki */
      "b" /* aki */
      "c" /* aki */
      "d"; /* aki */
  }

  .maintopic {
    flex-direction: column;/* aki */
    gap: 0; /* aki */
  }

  .maintopic .topic {
    width: 100%; /* aki */
    text-align: left; /* aki */
    padding: 0; /* aki */
  }

  .maintopic .topic h1 { /* aki */
    text-align: left;
    margin-left: 0;
    font-size: 8vw;
  }

  .introduction {
    padding: 0;
  }

  .introduction a {
    margin-top: 5px; /* aki */
  }

  .introduction p {
    margin-bottom: 20px;
  }

  .bottom {
    gap: 3vh; /* aki */
  }

  .bottom article {
    min-width: 100%; /* aki */
  }

  .text {
    padding: 3vh; /* aki */
  }

  .text h3 {
    font-size: 4vw; /* aki */
  }

  .text a {
    font-size: 3.5vw; /* aki */
  }



  .bottom {
    flex-direction: column;
  }
}


@media (max-width: 617px) {
  .container {
    display: flex; /* aki */
    max-width: 100%; /* aki */
    flex-direction: column; /* aki */
  }

  #navegation {
    display: none;
  }

  #navegationb { /* aki */
    min-height: 100vh;
    width: 50%;
    background-color: #FFF;
    position: absolute;
    right: 0;
    display: none;
    justify-content: center;
  }

  #navegationb ul { /* aki */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin: auto;
    margin-left: 3vh;
  }

  #hamburger { /* aki */
    align-self: flex-start;
    margin-top: 3vh;
    margin-right: 3vh;
    display: block;
    cursor: pointer;
  }

  #navegationb ul { /* aki */
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin: auto;
    margin-left: 20px;
  }

  #hamburgerclose { /* aki */
    align-self: flex-start;
    position: absolute;
    right: 3vh;
    top: 3vh;
    cursor: pointer;
    z-index: 10;
  }

  .header {
    grid-area: a;
    display: flex;
    justify-content: space-between;
    padding: 0; /* aki */
    width: 100%;
    height: 8vh; /* aki */
  }

  #logo {
    align-self: flex-start;
    height: 50%; /* aki */
    margin: auto; /* aki */
    margin-left: 3vh;
  }

  .header nav {
    margin: auto 0 auto 0;
  }

  .header nav ul {
    display: flex;
    gap: 5vh;
  }

  .hamburger {
    align-self: flex-start;
    margin: auto;
    margin-right: 3vh; /* aki */
  }

  .mainnew {
    grid-area: b;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .mainimage {
    width: 100%;
    background-image: url('../src/assets/images/image-web-3-mobile.jpg'); /* aki */
    aspect-ratio: 1; /* aki */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .maintopic {
    display: flex;
    max-width: 100%;
    gap: 5%;
    flex-grow: 1; /* importante ocupa o resto do tamanho o pai precisa ser flex */
  }

  .maintopic .topic {
    min-width: 45%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 2vh;
  }

  .topic h1 {
    text-align: center;
    margin: auto;
    font-size: 10vw; /* aki */
  }

  .introduction {
    min-width: 50%;
    height: 100%;
    margin: auto;
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .introduction a {
    margin-top: 20px; /* aki */
    width: 30vh;
    height: 8vh;
    background-color: #F15E50;
    text-align: center;
    line-height: 8vh;
    letter-spacing: 2px;
    font-weight: 700;
    color: #FFF;

  }

  .sidetopics {
    /* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */
    grid-area: c;
    background-color: #00001A;
    min-height: 60vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFF;
  }

  .item1,
  .item2 {
    border-bottom: 1px solid #FFF;
    padding-bottom: 3vh;
  }

  .item3 {
    padding-bottom: 3vh;
  }

  .sidetopics h2 {
    color: #E9AB53;
  }

  .sidetopics article.items p {
    font-size: 3vw; /* aki */
    font-weight: 400;
  }

  .sidetopics article a {
    font-size: 3vw; /* aki */
  }
  /* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */

  /* DDDDDDDDDDDDDDDDDDDDDDDDDD */
  .bottom {
    grid-area: d;
    display: flex;
  }

  article.news {
    display: flex;
  }

  article.news img {
    max-width: 18vh;
  }

  .text {
    padding: 3vh; /* aki */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text h3 {
    font-size: 7vw; /* aki */
    font-weight: 900;
    color: #C5C6CE;
  }

  .text a {
    font-size: 4vw; /* aki */
    font-weight: 700;
  }

  .text p {
    font-size: 3vw; /* aki */
  }
  /* DDDDDDDDDDDDDDDDDDDDDDDDDD */
}