* {
  /* modelo reset */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
  list-style-type: none;
}
a{
text-decoration: none;
}
html{
  scroll-behavior: smooth;
}